body{
	font-family: "calibri", Arial, sans-serif;
}

header{
	text-align: center;
}

nav{
	float:left;
}

div{
	float:right;
}

.navigationTable{
	border:2px solid blue;
	text-align: center;
}

.championsTable td{
	border:2px solid red;
	text-align: center;
	width: 40%;
}

footer{
	clear:both;
	text-align: center;
}